body {
    background: url("bg_dot.png") repeat scroll 0 0 #4A4A4A;
    font-family: cursive;
    margin: 0;
    width: 200%;
    height: 200%;
    min-height: 2000px;
}

.container {
	position: relative;
	/*overflow: hidden;*/
}

#logo {
    position: fixed;
    right: 20px;
    color: orange;
    font-family: cursive;
    font-size: 21px;
    font-weight: bold;
}

#logo span#logo2 {
    color: #A4F30C;
}

#logo sup {
    color: silver;
    font-size: 11px;
    font-weight: bold;
}

.mashup, .furniture {
	display: none;
}
.box, .f-element {
    position: absolute !important;
    float: left;
    top: 1000px;
    cursor: -moz-grab;
}

.box {
    box-shadow: 0 0 3px 0 #222222;
    background: none repeat scroll 0 0 yellowgreen;
    border: 5px solid #000000;
    height: 200px;
    width: 200px;
    /*left: 50%;;*/
}
.box:hover, .f-element:hover { box-shadow: 0 0 0 1px yellow; }

.f-element{
    background-color: white;
    border: 1px solid #bbb;
    width: 50px;
    height: 50px;
    z-index: 1;
    box-shadow: 0 0 2px 0 #878787;
}

.container a {
	position: absolute;
	top: 2px;
	right: 5px;
	text-decoration: none;
	color: red;
}

.container a.delete {
    background: url("icons.png") no-repeat scroll -15px 0 transparent;
    color: black;
    height: 15px;
    width: 15px;
}

.m2, .width, .height,.box .edit, .delete{
    font-size: 12px;
    z-index: 3;
    position: absolute;
}

.width, .height {
    font-size: 10px;
    color: #333;
    text-shadow: 0 0 1px #333333;
}

.width {
    bottom: 0;
    left: 50%;
    margin-left: -14px;
}

.height {
  left: -7px;
  margin-top: -5px;
  top: 50%;
  transform: rotate(90deg);
}

.f-element a.delete, 
.f-element .wxh,
.f-element .width,
.f-element .height {
    display: none;
}

.f-element:hover a.delete,
.f-element:hover .width,
.f-element:hover .height {
	display: block;
}

a.edit:hover, a.delete:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
    opacity: 0.3;
}

.container a.edit {
    background: url("icons.png") no-repeat scroll 0 0 transparent;
    color: black;
    height: 15px;
    right: 25px;
    width: 15px;
}

.box .m2 {
    font-size: 12px;
    top: 55px;
}

.title, .m2 {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    top: 30px;
    vertical-align: middle;
    width: 100%;
    z-index: 3;
}

.toolbar {
    background: none repeat scroll 0 0 #3A3A3A;
    border-bottom: 1px double #393939;
    box-shadow: 0 0 12px 2px black;
    color: #EEEEEE;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px 20px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.size {
    color: #EEEEEE;
    cursor: pointer;
    font-size: 15px;
    left: 30px;
    padding: 5px 0;
    position: fixed;
    top: 50px;
    z-index: 5;
    min-width: 300px;
}
.size:hover {
    color: orange;
}

.size span:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid white;
    content: "";
    display: inline-block;
    margin: 2px 7px;
}

.details {
    position: fixed;
    left: 0;
    top: 85px;
    margin-left: -500px;
    max-width: 500px;
    background: none repeat scroll 0 0 #3A3A3A;
    box-shadow: -3px 4px 4px #252525;
    color: whitesmoke;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: left;
    z-index: 10;
    cursor: pointer;
}
.details li {
    list-style: decimal outside none;
}

button, input {
    height: 20px;
    color: white;
    float: left;
}
    
.add.button {
    background: none repeat scroll 0 0 #2F2F2F;
    border-color: #525252 #4C514C #585858 #464646;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 4px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.add.button.edit{ color: white; }

.add.button:hover,
.add.button.edit:hover {
    background-color: yellowgreen;
    color: black;
    cursor: pointer;
}

.holder {
	float: left;
	border: 0px solid transparent;
	border-radius: 5px;

}

.holder.edit {
    background: none repeat scroll 0 0 white;
    border: 10px solid transparent;
    color: black;
}

input.color {
	float: left;
}

.label {
    color: #bbb;
    display: inline-block;
    float: left;
    font-size: 10px;
    letter-spacing: 1px;
    margin:8px 10px 0 10px;
}

input.input {
    color:white;
    font-size: 12px;
}
.input:focus, .scale:focus  {
    background-color: black;
}

.input, .scale {
	background: none repeat scroll 0 0 #2F2F2F;
    border-color: #525252 #4C514C #585858 #464646;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    float: left;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 5px;
    padding: 4px;
    border-radius: 3px;
  
}

input.scale { 
    width: 30px; 
    text-align: center; 
}

#scale {
    position: fixed;
    right: 10px;
    top: 60px;
}

.color-input {
    float: left;
    text-align: left;
    width: 60px;
    border: 1px solid transparent;
}
.color-box {/* 
    background-color: yellowgreen;
    border: 1px solid #181818;
    color: yellowgreen;
    float: left;
    height: 20px;
    margin-top: 5px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;*/
    display: none;
} 

.visible {
    display: none;
}


/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 15px; height: 15px; right: -5px; bottom: -5px; }
.ui-resizable-sw { cursor: sw-resize; width: 15px; height: 15px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 15px; height: 15px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 15px; height: 15px; right: -5px; top: -5px;}
.box .ui-resizable-handle:hover { background-color: slategray; }

.colorpicker {
z-index: 100;
}

/*----- Spectrum override ----- */
.sp-container {
    background-color: #333333;
    border: 1px solid #222222;
    border-radius: 6px 6px 6px 6px;
    position: fixed;
}

.sp-preview {
    width: 20px;
}

.sp-replacer {
    background: none repeat scroll 0 0 transparent;
    border: 0px solid transparent;
}

.sp-dd { color: white; }

.edit .sp-dd { color: #333; }

.sp-picker-container {
    border-left: 1px solid #222222;
}

.sp-palette-container {
    border-right: 1px solid #555555;
    width: 60px;
}
.sp-palette .sp-thumb-el {
    border: 1px solid #333;
}

/* checkboxes */

label {
    display: inline;
    margin-top: 6px;
}
.checkbox {
    display: none;
}
.checkbox + label {
    background-color: #111111;
    border: 1px solid #222222;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    float: left;
    padding: 8px;
    position: relative;
}
.checkbox + label:active, .checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.checkbox:checked + label {
    background-color: #333333;
    border: 1px solid #222222;
    color: #99A1A7;
}
.checkbox:checked + label:after {
    content: "\2714";
    font-size: 12px;
    left: 4px;
    position: absolute;
    top: -1px;
}

.checkbox + label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

